@media (max-width: 787px) {

    .custom-cursor {
        display: none;
    }

    .slider-container{
        height: 36px;
    }

    .slider span {
        font-size: 24px;
    }

    .about-me {
        font-size: 30px;
        padding: 0;
        margin: 20px;
    }

    .about {
        width: 90%;
    }

    .logo-div {
        width: 150px;
        height: 100px;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .logos {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


    .social {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .contactme a {
        margin: 10px 20px;
        text-align: center;
        width: 80%;
        
    }

    .contactme {
        justify-content: center;
        align-items: center;
        padding-bottom: 0px;
    }

  }